<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706401465393-dbgm5p4soav04a7r66tbd72o0s1l08mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706401465393-dbgm5p4soav04a7r66tbd72o0s1l08mn</string>
	<key>API_KEY</key>
	<string>AIzaSyCX3UDR4GzzscUgSo6JpyKTFrHyP9hJxV4</string>
	<key>GCM_SENDER_ID</key>
	<string>706401465393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hakomori.aciste</string>
	<key>PROJECT_ID</key>
	<string>aciste-100b9</string>
	<key>STORAGE_BUCKET</key>
	<string>aciste-100b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706401465393:ios:dc3a0d738be58fc4df1110</string>
</dict>
</plist>