import 'package:flutter/material.dart';
import 'package:hooks_riverpod/hooks_riverpod.dart';

class {{ view_name }} extends HookConsumerWidget {
    const {{ view_name }}({Key? key}) : super(key: key);

    @override
    Widget build(context, ref) {
        
    }
}